<style>

</style>


{% if card_product and card_product != empty %}

  <article class="article" >
    <div class="img" ref="img">
      <img src="{{ card_product.featured_media |   image_url: width: 346 }}" alt="product photo">
    </div>
    <p class="h3">{{card_product.title}}</p>
    <p class="body1">
      {% render 'price', product: card_product, price_class: '' %}| {{perWhat}}
    </p>

  </article>

{% endif %}
