<style></style>


<section class="collection-card">



</section>

{% schema %}
{
  "name": "collection-card",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "image-position",
      "label": "Image Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
         "value": "right",
          "label": "Right"
        }
      ]
    }
  ],

  "blocks": [
    {
      "name": "image",
      "type": "image",
      "limit":  1,
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    },
    {
      "name": "Collection content",
      "type": "collection-content",
      "limit":  1,
      "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
      ]

    }
  ],
  "presets": [
    {
      "name": "collection-card",
      "settings": {
        "image-position": "Left"
      },
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
    ]


}

{% endschema %}