<style></style>


<section class="collection-card">

    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'image' %}
                <div class="image">
                    <img src="{{ block.settings.image.src }}" alt="Collection Image">
                </div>
            {% when 'collection-content' %}
                <div class="content">
                    {{ block.settings.collection.description }}
                </div>

        {% endcase %}
    {% endfor %}



</section>

{% schema %}
{
  "name": "Collection card",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "image-position",
      "label": "Image Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
         "value": "right",
          "label": "Right"
        }
      ]
    }
  ],

  "blocks": [
    {
      "name": "image",
      "type": "image",
      "limit":  1,
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    },
    {
      "name": "Collection content",
      "type": "collection-content",
      "limit":  1,
      "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
      ]

    }
  ],
  "presets": [
    {
      "name": "collection-card",
      "settings": {
        "image-position": "Left"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "collection-content"
        }
      ]
    }
    ]


}

{% endschema %}