    <section class="main">
        <div class="over elevate">
            <div class="hyphen "></div>
            <div class="text-overline script text">guilt-free snacking</div>
        </div>
        <div class="tagline h1-large elevate text">
            Feel Good <br> Indulgence &trade;
        </div>
        <es-button class="primary-hero-button elevate" :type="buttonType">SHOP NOW</es-button>

        <div class="maskGroup">
            <div id="choc1" class="choc"><img src="@/assets/choc1.png" alt="choc"></div>
            <div id="choc2" class="choc"><img src="@/assets/choc2.png" alt="choc"></div>
            <div id="choc3" class="choc"><img src="@/assets/choc3.png" alt="choc"></div>
            <div id="product-hero"><img src="@/assets/product-hero.png" alt="choc"></div>
            <div id="chocSplash"><img src="@/assets/Mask-group.png" alt="chev"></div>

        </div>

        <div class="bottom" ref="bottom">
            <div class="announcement body1"><a href="#">
                    <div>An important announcement goes right here in this bar. Lorem ipsum dolor sit amet – Learn More</div>
                </a> </div>
            <!--    <svg  height="300px" viewBox="20 0 1680 202" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYmin meet">-->
            <!--      <path  d="M908.7 48.4581C590.98 52.6492 220.846 -97.2962 -19.1096 110.994C-92.065 174.321 -136.746 254.043 -163.999 343.24L1863.77 332.924C1800.95 233.492 1731.04 143.09 1625.31 89.3017C1406.71 -21.9078 1153.94 45.2231 908.7 48.4581Z" fill="#411C0E"/>-->
            <!--    </svg>-->

        </div>
    </section>


