<style>

.ide-column {
    text-align: center;
}
</style>


<section class="identifires page-width">
    <div class="signatureImg">
        <img src="" alt="">
    </div>
    <div class="ident-content">
        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'column' %}
                    <div class="ide-column">
                        <span class="overline">{{ block.settings.subtitle }}</span>
                        <h3>{{ block.settings.title }}</h3>
                        <div>{{ block.settings.text }}</div>
                    </div>
            {% endcase %}
        {% endfor %}

    </div>

</section>

{% schema %}
    {
      "name": "Collection card",
      "tag": "section",
      "settings": [
        {
          "type": "image_picker",
          "id": "signature_img",
          "label": "Top signature image"
        }
        ],
      "blocks": [
        {
          "name": "column",
          "type": "column",
          "limit": 3,
          "settings": [
            {
              "type": "text",
              "id": "subtitle",
              "label": "Subtitle"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Title of the column"
            },
            {
              "type": "textarea",
              "id": "text",
              "label": "Content of the column"
            }
            ]
          }
        ],
      "presets": [
        {
          "name": "Multicolumn brand identifiers",
          "blocks": [
            {
              "type": "column"
            },
            {
              "type": "column"
            },
            {
              "type": "column"
            }
          ]
        }
      ]
    }

{% endschema %}